@page "/"
@inject AppState AppState
@inject IStringLocalizer<Resource> Localize
@implements IDisposable

<PageTitle>@Localize["AboutSteganography"]</PageTitle>

<h1>TODO</h1>

@code
{
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        AppState.SetPageTheme(Color.Info, "AboutSteganography");
    }
    public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}
}